
body
{
    font-family: 'Noto Serif', serif;
    background-color:azure;
}
footer
{
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
}
.top-body
{
    margin-top: 2em;
    margin-bottom: 1em;
}
.middle-body
{
    padding-bottom: 2em;
}
#serviceButton,#emailButton,#deviceButton,#informedButton
{
    background-color: darkseagreen;
}
.carousel-item img
{
    width:80%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon
{
    background-color:green;
}
